@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 0;
}

.top-container {
	background: #307d99 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/bg_copy.jpg');
	background-position: 12% 84%;
	padding: 1.5em;
	text-align: center;
}

.header-container {
	color: white;
}

.link {
	margin-top: 0.3em;
}

#yummy {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

.header-container h1 {
	margin-top: 5em;
}
